body {
  margin-right: 0;
  margin: 0;
  padding: 0;
  background: white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.navbar {
  background: #004e49;
  padding: 10px 0 10px 0;
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 1.3em;
  place-content: space-between;
}

.navbar .gmail, .navbar .contact {
  display: none;
}

.section {
  display: block;
  background: #f3f3f3;
  height: 8em;
}

.section ul {
  float: right;
  margin-right: 10px;
}

.section ul li {
  display: inline-block;
  margin: 1px 8px;
  line-height: 50px;
  font-weight: bold;
}

.section ul li a {
  text-decoration: none;
  text-transform: uppercase;
}

.section ul li a .logo {
  margin-right: 50px;
}

nav {
  display: none;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: space-between;
}

.mobile-menu {
  cursor: pointer;
}

.login, .get {
  color: white;
  font-size: 15px;
}

.contact-cta {
  margin-left: 5em;
  place-content: space-between;
  padding: 5px;
}

.Hero {
  position: relative;
  margin: 0em 0 5em 0;
  width: 100%;
  height: 25em;
}

.Hero h1 {
  position: absolute;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 0px;
  margin: 0px;
  text-align: left;
  font-size: 2em;
  color: #0e0d0d;
  float: top;
  margin-bottom: 1px;
  margin-top: 0;
  text-align: top;
  -webkit-box-align: top;
      -ms-flex-align: top;
          align-items: top;
  top: 10%;
}

.Hero .button {
  margin-top: 20px;
  cursor: pointer;
  border: 2.4px white solid;
  font-weight: bold;
  padding: 15px;
  background: transparent;
  width: 9em;
  color: white;
  border-radius: 5px;
  top: 30%;
}

.Hero .button:hover {
  background: #004e49;
  border: none;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.Hero .button .p {
  top: 20%;
}

.BOX {
  background: #004e49;
  margin-top: 40px 20px;
  width: 90%;
  height: 15em;
  border-radius: 20px;
  margin-left: 40px;
  place-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.BOX .word {
  text-align: center;
  color: white;
  font-size: 1.5em;
  margin-right: 2em;
  margin-left: 3em;
  margin-top: 100px;
  letter-spacing: 1px;
}

.BOX img {
  width: 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 10em;
}

.BOX {
  background: #004e49;
  margin-top: 40px 20px;
  width: 100%;
  height: 15em;
  border-radius: 20px;
  margin-bottom: 20px;
}

.BOX .word {
  text-align: center;
  color: white;
  font-size: 1.5em;
  margin-right: 5em;
  margin-left: 3em;
  margin-top: 100px;
  letter-spacing: 1px;
  width: 50%;
  place-content: center;
}

.BOX img {
  width: 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 10em;
}

.BOX {
  background: #004e49;
  margin-top: 40px 20px;
  width: 100%;
  height: 15em;
  border-radius: 20px;
  margin-bottom: 20px;
}

.BOX .word {
  text-align: center;
  color: white;
  font-size: 1.5em;
  margin-right: 5em;
  margin-left: 3em;
  margin-top: 100px;
  letter-spacing: 1px;
}

.BOX img {
  width: 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 10em;
}

.shine-section {
  margin-top: 35em;
  margin-left: 20px;
  margin-bottom: 30em;
}

.shine-section .shine {
  display: block;
  width: 350px;
  height: 400px;
}

.shine-section .about {
  font-size: 1.1em;
  font-weight: bold;
  letter-spacing: 1px;
  color: black;
}

.shine-section h1 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 2em;
  color: #812a2a;
}

.shine-section .conten {
  font-weight: bold;
  padding: 0px;
  line-height: 30px;
  font-size: 20px;
}

.shine-section ul {
  font-size: 1.1em;
  font-weight: bold;
  list-style-type: circle;
  padding-left: 20px;
  line-height: 2em;
  margin-bottom: 50px;
}

.shine-section .learn {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background: #004e49;
  color: white;
  padding: 15px;
  text-decoration: none;
  font-size: 20px;
  margin-top: 10em;
  border-radius: 3px;
}

.shine-section .learn:hover {
  background: none;
  color: black;
}

nav.menu-btn {
  display: block;
}

nav {
  display: block;
  position: fixed;
  right: 0;
  top: 80;
  width: 100vh;
  height: 60%;
  background: #20272e;
}

ul {
  display: -ms-grid;
  display: grid;
  color: white;
  text-decoration: none;
  margin-top: 1em;
}

ul a {
  color: white;
  text-align: left;
  padding: .2em;
  display: block;
  float: right;
}

ul a:hover {
  color: #07c7ba;
  font-weight: bolder;
}

.mobile-exit {
  margin-bottom: 3em;
  cursor: pointer;
  float: top;
  right: 0px;
  margin-left: 30em;
  top: 1px;
}

nav {
  display: none;
}

@media only screen and (min-width: 770px) {
  .mobile-menu, .mobile-exit {
    display: none;
  }
  .section, .container {
    display: -ms-grid;
    display: grid;
    margin: 0px;
  }
  nav, ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: none;
    position: unset;
    width: 100%;
    height: auto;
    float: top;
    margin-left: 7em;
    place-content: space-between;
    padding-bottom: 0px;
  }
  nav a, ul a {
    color: black;
    font-weight: bold;
  }
  nav a:hover, ul a:hover {
    border: 1px solid black;
  }
  ul {
    margin: 0px;
    float: top;
  }
  .gmail, .contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .shine-section img, .shine-section .shine {
    float: right;
  }
  .shine-section ul {
    display: block;
  }
}

@media only screen and (min-width: 1020px) {
  .testimonial_section {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
  .BOX, .BOX, .BOX {
    margin-right: 30px;
    place-content: space-between;
    height: 20em;
  }
}
/*# sourceMappingURL=main.css.map */